<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=S, initial-scale=1.0">
    <link rel="stylesheet" href="choose.css">
    <title>Document</title>
</head>
<body>
  <div class="box">
    <h1>Your Info</h1>
    <form action="/makeRoom-jp" method="POST" class="container">
        <div class="entry">
          <label for="topic" class="r">何について話したいですか？（英語記入）</label><br>
          <input type="text" placeholder="ex) Sports, Food" name="topic" />
        </div>

        <button class="button button-block" type="submit">
          Create
        </button>
      </form>
    </div>
</body>
</html>